In [8]:
import

from rdt import HyperTransformer
import pandas as pd
data = pd.DataFrame({'col2': [1, 2, 3], 'col1': [True, False, False]})
ht = HyperTransformer()
ht.fit(data)
print(ht.transform(data))

   col2.value  col1.value
0           1         1.0
1           2         0.0
2           3         0.0

In [4]:
from rdt import HyperTransformer
import pandas as pd

data = pd.DataFrame({'a': [1,2,3], 'b': ['ntohu', 'ntohu', 'tnhoeu']})
new_data = pd.DataFrame({'c': [1,2,3], 'd': ['ntohu', 'ntohu', 'tnhoeu']})
other_data = pd.DataFrame({'a': [1,2,3], 'b': ['ntohu', 'ntohu', 'tnhoeu']})

ht = HyperTransformer() # reverse_transform of the original data instead of transformed data should crash
# bool don't correctly set the data types
ht.fit(data)
t1 = ht.transform(data)
r1 = ht.reverse_transform(t1)
ht.fit(data)
t2 = ht.transform(data)
r2 = ht.reverse_transform(t2)
ht.fit(data)
t3 = ht.transform(data)
r3 = ht.reverse_transform(t3)
print(t1)
print(t2)
print(t3)

print(r1)
print(r2)
print(r3)

   a.value   b.value
0        1  0.342723
1        2  0.405646
2        3  0.780218
   a.value   b.value
0        1  0.210370
1        2  0.408851
2        3  0.912269
   a.value   b.value
0        1  0.401094
1        2  0.244906
2        3  0.893944
   a       b
0  1   ntohu
1  2   ntohu
2  3  tnhoeu
   a       b
0  1   ntohu
1  2   ntohu
2  3  tnhoeu
   a       b
0  1   ntohu
1  2   ntohu
2  3  tnhoeu

In [5]:
data = pd.DataFrame({'a': [1,2,3], 'b': ['ntohu', 'ntohu', 'tnhoeu']})
ht = HyperTransformer()
ht.fit(data)
t1 = ht.transform(data)
r1 = ht.reverse_transform(t1)
print(t1)
print(r1)

   a.value   b.value
0        1  0.345358
1        2  0.238762
2        3  0.746257
   a       b
0  1   ntohu
1  2   ntohu
2  3  tnhoeu

In [8]:
data = pd.DataFrame({'a': [1,2,3], 'c': [1, 2, 3]})  # the missing columns is not printing c, that's a different error
new_data = pd.DataFrame({'b': [1,2,3]})
ht = HyperTransformer()
ht.fit(data)
ht.fit(new_data)
ht.transform(data)

   a  c  a.value  c.value
0  1  1        1        1
1  2  2        2        2
2  3  3        3        3

In [28]:
ht = HyperTransformer()
ht.fit(data)
ht.fit(data)
ht.fit(data)
t = ht.transform(data)
r = ht.reverse_transform(t)
print(t)
print(r)

   a.value  c.value
0        1        1
1        2        2
2        3        3
   a  c
0  1  1
1  2  2
2  3  3

In [30]:
ht = HyperTransformer()
ht.fit(data)
ht.fit(other_data)
t = ht.transform(other_data)
r = ht.reverse_transform(t)
print(t)
print(r)

   a.value   b.value
0        1  0.351368
1        2  0.400878
2        3  0.809850
   a       b
0  1   ntohu
1  2   ntohu
2  3  tnhoeu