In [40]:
import numpy as np
import pandas as pd
from rdt import HyperTransformer
from rdt.transformers import datetime, boolean, categorical, numerical
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:
df = pd.DataFrame({
    'a': [1, np.nan],
    'b': [np.nan, 4],
    'c': [5, 6],
})
df

     a    b  c
0  1.0  NaN  5
1  NaN  4.0  6

In [42]:
ht = HyperTransformer(field_transformers={'b': numerical.NumericalTransformer(null_column=True)})
ht.fit(df)

Inputs
['a', 'b', 'c']
Outputs
['b.value', 'b.is_null', 'a.value', 'a.is_null', 'c.value']
Reordered
['a.value', 'a.is_null', 'b.value', 'b.is_null', 'c.value']

In [43]:
df = pd.DataFrame({
    'b': [1, np.nan],
    'a': [np.nan, 4],
    'c': [5, 6],
})
t = ht.transform(df)
t

   a.value  a.is_null  b.value  b.is_null  c.value
0      1.0        1.0      1.0        0.0        5
1      4.0        0.0      4.0        1.0        6

In [44]:
ht.reverse_transform(t)

     a    b  c
0  NaN  1.0  5
1  4.0  NaN  6